LANGUAGE 0, 0
FORMBLACK         RCDATA "form_black.png"
FORMBLACK2010     RCDATA "form_black2010.png"
FORMBLUE          RCDATA "form_blue.png"
FORMBLUE2010      RCDATA "form_blue2010.png"
FORMSILVER        RCDATA "form_silver.png"
FORMSILVER2010    RCDATA "form_silver2010.png"
RIBBONCOMMON      RCDATA "ribbon_common.png"
RIBBONCOMMON2010  RCDATA "ribbon_common2010.png"
RIBBONBLACK       RCDATA "ribbon_black.png"
RIBBONBLACK2010   RCDATA "ribbon_black2010.png"
RIBBONBLUE        RCDATA "ribbon_blue.png"
RIBBONBLUE2010    RCDATA "ribbon_blue2010.png"
RIBBONSILVER      RCDATA "ribbon_silver.png"
RIBBONSILVER2010  RCDATA "ribbon_silver2010.png"